@media only screen and (max-width: 1200px){
    html{
        font-family: 'Mulish', sans-serif;
        overflow-x: hidden;
        box-sizing: border-box;
        margin: 0;
        width: 100%;
    }
    .navbar{
        justify-content: space-between;
    }
    .logo{
        padding: 0;
        float: left;
    }
    .nav-ele{
        display: none;
    }
    .hero-sec{
        display: block;
        width: 100%;
    }
    .hero-sub-ele1{
        display: block;
        width: 100%;
    }
    .hero-sub-para{
        display: block;
        padding: 80px 0px;
        width: 100%;
    }
    .hero-sub-para br{
        display: none;
    }
    .hero-sub-ele2{
        display: relative;
        margin: auto;
        width: 100%;
    }

    .hero-sub-ele2 > img {
        width: 100%;
    }
    .svg-sec{
        /* margin-top: -1rem; */
    }

    .check-list{
        padding: 0;
    }
    .grd-area{
        display: grid;
        grid-template-columns: auto auto;
    } 

    .grd-area-tab{
        height: 100%;
    }

    .bs-area{
        margin-top: 210px;
    }

    .bs-sub-ctn > img{
        width: 60%;
    }

    .bs-grd{
        display: grid;
        grid-template-columns: auto auto;
    }

}